@import './predefinied.scss';

// body {
//     &.first-time {
//         overflow: hidden;
//         padding-right: 0;
//     }
// }

// .window-shadow {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1050;
//     width: 100vw;
//     height: 100vh;
//     background: rgba(36, 37, 39);
//     opacity: 0.9;
//     will-change: opacity;
//     transition: $durationXS;

//     &.hide {
//         opacity: 0;
//     }
// }
.modal {
    &.first-time {
        .modal {
            &-content {
                border-radius: 0;
                border: 5px solid white;

            }
        }

    }

    &-backdrop.show {
        opacity: 0.9;
    }
}

.header {
    background: $headerBg;

    &__container {
        height: 62px;
    }

    @media screen and (max-width:350px) {
        &__logo {
            .badge-container {
                display: none;
            }
        }
    }

    &__right-buttons {
        .btn {
            box-shadow: none !important;
            outline: none !important;
        }

        .offcanvas-message-menu-button,
        .offcanvas-favourites-button {
            position: relative;

            &::after {
                content: attr(data-unread);
                top: -3px;
                right: -2px;
                position: absolute;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: $redAlarm;
                color: white;
                font-weight: 600;
                font-size: $fontSizeXSS;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .offcanvas-favourites-button {
            &::after {
                right: -4px;
                content: attr(data-favourites);
            }
        }
    }

}



.search {
    &>div>*:not(.btn):not(.btn-tooltip) {
        background: $brown2;
        border-radius: 1000px;
        margin-bottom: 0.75rem;
        width: 100%;
    }

    .select-dropdown__absolute {
        max-width: 50%;
        margin-right: 1rem;
        margin-bottom: 0 !important;
    }

    &__input {
        background: transparent;
        border: none;
        box-shadow: none !important;
        outline: none;
        padding: 0;
        height: 48px;
        line-height: 48px;
        border-radius: 1000px;
        padding-left: 27px;
        padding-right: 27px;
        max-width: 100%;
        transition: $durationXS;
        border-right: 1px solid rgba(36, 37, 39, 0.3);

        &:focus {
            border-right: 1px solid white;
        }

        &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, .5);
        }

        &--alone {
            border-right: none;
            max-width: 100%;
            margin-right: 0;
            background: $brown2;
            padding-right: 27px;

            &:focus {
                background: lighten($color: $brown2, $amount: 10%);
            }
        }
    }


    .btn {
        min-width: 36px;
        min-height: 36px;
        align-self: center;
    }
}


.autoComplete {
    &_wrapper {
        width: 100%;

        &>input::placeholder {
            color: rgba(0, 0, 0, .5);
        }

        &>ul>li mark {
            padding: 0;
            color: black;
        }

        &>input {
            background: transparent;
            height: 48px;
            border-radius: 0;
            width: 100%;
            padding-right: 20px;

            &:focus {
                background: white;
            }
        }

        &>ul {
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: rgba(222, 222, 222, .75);
                border-radius: 1000px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, .5);
                border-radius: 1000px;
            }

        }


    }
}

.hero {
    .container-fluid {
        position: absolute;
        bottom: -100px;
        z-index: 1;
    }

    .carousel-inner {
        padding-bottom: 100px;
        position: relative;
    }

    .carousel-item {
        // height: ;
    }

    &__indicators {
        margin-top: 11px;
        margin-bottom: 1rem;
        margin-left: 12px;
        margin-right: 12px;
        justify-content: start;

        [data-bs-target] {
            width: 11px;
            height: 11px;
            background-color: $lightBrown;
            border-radius: 50%;
            transition: $durationM;
            opacity: 1;
            border: 0;

            &.active {
                width: 70px;
                border-radius: 60px;
            }
        }

        position:relative;
    }

    &__categories-container {
        width: 243px;
        min-width: 243px;
        background: $headerBg;
        margin-right: 11px;

        &:hover {

            .scrollbar-track,
            .scrollbar-track {

                opacity: 1;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;

            }
        }
    }

    &__categories-popular,
    &__categories-all {

        .d-flex,
        .accordion-item {
            background: transparent;
            border: none;
        }
    }

    &__category-link {
        color: rgba(0, 0, 0, 0.5);
        transition: $durationM;
        text-decoration: none;
        font-weight: 600;
        will-change: color;
        transition: $durationS;
        position: relative;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: $fontSizeS;
        display: flex;
        align-items: center;
        // -webkit-line-clamp: 1;
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        display: block;


        cursor: pointer;

        svg {
            height: 18px;
            width: auto;
        }

        span {
            padding-left: 0.25rem;
        }

        span,
        svg,
        div {
            position: relative;
            z-index: 1;
        }

        &::before {
            transition: $durationM ease;
            content: '';
            background: $gray-800;
            left: -0.25rem;
            top: 0;
            width: 0%;
            will-change: width;
            height: 100%;
            position: absolute;

        }

        &:hover {
            color: $lightBrown;

            &::before {
                width: calc(100% + 0.5rem);
            }
        }
    }

    &__categories-all {
        position: relative;




        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
        }

        .hero {
            &__inner-categories {
                padding-left: 0.5rem;
                border-left: 1px solid rgba(0, 0, 0, 0.2);

                &-li span {
                    padding-left: 0.25rem;
                    font-size: $fontSizeXS;
                }
            }


        }
    }

}

.popup {
    border: 5px solid white;
    padding: 27px;
    height: 194px;
    max-width: 550px;
    overflow: hidden;
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    z-index: 1020;
    box-shadow: 0px 2px 57px rgba(35, 32, 28, 0.15);

    [data-scrollbar] {
        height: calc(174px - 48px - 36px);
        padding-right: 1rem;

        .scrollbar-track-y {
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }

    .btn-close {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
}



.hiding-collapse {
    overflow: hidden;
    transition: 0.5s ease-out;
    max-height: 600px;

    &.hide {
        max-height: 0;
    }
}

.hiding-transform {
    transition: 0.3s;

    &.hide {
        transform: scale(0);

    }
}

.swiper-slide {
    width: auto;
}

.hr-under {
    position: relative;

    &::before {
        content: '';
        background: $greyMessage;
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

    }
}

.categories {
    &__swiper {
        margin-top: 18px;
        margin-bottom: 18px;
        // width: calc(100% + 24px);

        // margin-left: -12px;
        padding-right: 24px !important;
    }

    .swiper-wrapper {
        padding-left: 12px;
        width: calc(100% + 36px);
    }

    &__slide {

        &.swiper-slide {
            transition-property: initial;
            will-change: background-color, transform;
            width: auto;
            // -webkit-line-clamp: 2;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: ellipsis;


            a {
                padding: 10px 13px;
                text-decoration: none;
                border-radius: 11px;
                color: $textBlack;
                font-size: $fontSizeXS;
                font-weight: bold;
                background-color: $lighterBrown;
                transition: $durationM;
                max-width: 140px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 68px;

                &:hover {
                    color: $textBlack;
                    background-color: $lightBrown;
                }
            }
        }

    }
}

.list {
    overflow: hidden;

    &__item {
        border-radius: 10px;
        background: white;
        text-decoration: inherit !important;
        color: $textBlack;
        transition: $durationM;
        height: 100%;
        will-change: transform;

        &:hover {
            color: $textBlack;
            transform: scale(1.05);
        }



        &--featured {
            background: $textBlack;
            color: white;
            box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, .15);

            &>div:last-child {
                &::before {
                    content: 'Wyróżnione';
                    text-transform: uppercase;
                    color: $brown;
                    letter-spacing: 2.6px;
                    font-weight: 300;
                    font-size: $fontSizeXS;
                    margin-bottom: 4px;
                }
            }

            &:hover {
                color: white;
            }
        }

        &--new {
            background: $newGreen;
        }

        &--ending {
            &>div:last-child {
                &::before {
                    content: 'Wkrótce koniec!';
                    background: $endingRed;
                    color: rgba(255, 255, 255, 0.9);
                    letter-spacing: .6px;
                    padding: 4px 6px;
                    font-weight: 300;
                    max-width: 200px;
                    width: fit-content;
                    display: inline-block;
                    font-size: $fontSizeXS;
                    margin-bottom: 4px;
                }
            }
        }
    }

    &__img {
        height: 100%;
        width: 100px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        object-fit: cover;


        @media screen and (max-width:350px) {
            width: 40px;
        }

        &-container {
            position: relative;
            height: 100%;

            &::before {
                content: attr(data-reco-number);
                position: absolute;
                right: 1rem;
                bottom: 0.75rem;
                background: $textBlack;
                background-image: url('../assets/recomendation.svg');
                background-repeat: no-repeat;
                background-size: 16px 16px;
                background-position: center right;
                color: $brown;
                font-size: $fontSizeXS;
                padding: 4px;
                padding-left: 8px;
                padding-right: 20px;
                min-width: 42px;
                width: auto;
                height: 25px;
                display: flex;
                font-family: 'Frank Ruhl Libre', serif;
                justify-content: space-between;
                align-items: center;
                box-shadow: 4px 0px 0 4px $textBlack;
            }
        }
    }

    &__info-container {
        white-space: nowrap;
    }

    &__city {
        width: 22vw;

        &-icon {

            min-width: 24px;
            min-height: 24px;
        }



        @media screen and (max-width:400px) {
            width: 20vw;
        }
    }
}

.recommendations {
    &__pagination.swiper-pagination {
        position: static;
        margin-top: 2rem;

        span {
            width: 16px;
            height: 16px;
        }

        .swiper-pagination-bullet {
            background: $headerBg;
        }

        .swiper-pagination-bullet-active {
            background: $lightBrown2;
        }
    }

    .swiper-wrapper {
        cursor: grab;
    }

}

.about {
    overflow: hidden;
    max-width: 100%;



    &__img {
        transform: translateX(20px);


        &-container {
            position: relative;

            &::before {
                z-index: -1;
                background: $textBlack;
                width: 100%;
                height: 100%;
                left: -50px;
                top: 50px;
                position: absolute;
                content: '';
            }
        }
    }

    &__heading {
        font-size: 12vw;
        position: relative;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        color: #837565;


        div {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }

        div:first-of-type {
            opacity: 1;
        }

        div:last-of-type {
            // animation: reveal 7s infinite;
            margin-left: -16.5px;
            opacity: 1;
            width: 461px;
        }

        div:last-of-type span {
            margin-left: -321px;
            animation: slidein 5s infinite alternate;
        }


        @keyframes slidein {
            0% {
                margin-left: -321px;
            }

            40% {
                margin-left: -321px;
            }

            55% {
                margin-left: -3px;
            }

            100% {
                margin-left: -3px;
            }
        }

        // @keyframes reveal {
        //     0% {
        //         margin-left: -16.5px
        //     }

        //     40% {
        //         margin-left: -16.5px;
        //     }

        //     55% {

        //         margin-left: -19.7px;
        //     }

        //     70% {
        //         margin-left: -19.7px;
        //     }

        //     100% {
        //         margin-left: -16.5px;
        //         // width: -321px;
        //     }
        // }


    }


}


.newsletter {
    .form-control {
        line-height: 48px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 500;
    }

    &__button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 37px;
        height: 37px;
        background: #242527de;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 50%;
        border: 0;
        padding: 2px;
    }

    &__container {
        padding-top: 42px;
        padding-bottom: 161px;
        overflow: hidden;
        position: relative;
    }

    &__container::before {
        content: '';
        // z-index: -1;
        background-image: url('../assets/mail-decoration.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        bottom: -150px;
        right: -30px;
        width: 100%;
        height: 100%;
        max-width: 200px;
    }
}

.premium-advertisement {
    height: 415px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 40vh;

    &__bg {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        max-width: 100%;
    }
}

.blog-section {
    &__swiper {
        padding-right: 24px !important;
    }

    .swiper-wrapper {
        padding-left: 12px;
        width: calc(100% + 36px);
    }



    &__slide {

        width: 80vw;
        max-width: 330px;

        &.hot,
        &.new {


            .blog-section {
                &__img-container {
                    &::before {
                        content: attr(data-text);
                        position: absolute;
                        left: 0.75rem;
                        bottom: 0.75rem;
                        background: $freshGreen;
                        text-transform: uppercase;
                        letter-spacing: 0.23rem;
                        font-size: $fontSizeXSS;
                        line-height: 37px;
                        padding: 0 1rem;
                        width: auto;
                        height: 37px;
                    }
                }

                &__card {
                    background: $freshGreen;


                }
            }

            .btn {

                span.background,
                div.background {
                    &::after {
                        background: $lighterBrown;
                    }
                }

                &:hover {
                    color: #242527;
                }
            }
        }

        &.hot {
            .blog-section {
                &__img-container {
                    &::before {
                        background: $darkRed;
                        color: white;
                    }
                }

                &__card {
                    background: $darkRed;

                    &-heading {
                        color: rgba(255, 255, 255, 0.7)
                    }

                    &-subtext {
                        color: rgba(255, 255, 255, 0.5)
                    }
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 250px;
        object-fit: cover;

        &-container {
            position: relative;
        }
    }

    &__card {
        background: white;
        width: 100%;

        &-content {
            height: 194px;

        }

        &-heading {
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-subtext {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
        }

        &:hover {}
    }
}

.footer {
    background: $textBlack;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 150px;
    position: relative;

    &__decoration {
        max-width: 90%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
    }

    &__seo-links {
        a {

            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;

            &:not(:last-of-type)::after {
                content: ',';
            }

            &:hover,
            &.text-white:hover {
                text-decoration: none;
                color: $brown;
            }
        }
    }

    &__list-of-links {
        a {

            color: white;
            text-decoration: none;


            &:hover,
            &.text-white:hover {
                text-decoration: none;
                color: $brown;
            }
        }
    }
}

@media (max-width:767px) {
    .hero__container-fluid {
        padding: 0;
    }

    .hero__categories-container {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .popup {
        right: 10px;
        left: 10px;
        padding: 12px;
        max-width: calc(100% - 24px);

        [data-scrollbar] {
            height: calc(174px - 48px - 36px + 30px);
        }
    }

    .header {
        .mobile-menu-toggle {
            &.opened {
                .close-svg {
                    opacity: 1;
                    transform: scale(1);
                    height: 24px;
                    width: 24px;
                }

                .open-svg {
                    opacity: 0;
                    transform: scale(0);
                    width: 0;
                    height: 0;
                }
            }

            svg {
                transition: $durationS;
            }

            .close-svg {
                opacity: 0;
                transform: scale(0);
                width: 0;
                height: 0;
            }

            .open-svg {
                opacity: 1;
                transform: scale(1);
                height: 24px;
                width: 24px;
            }
        }

        .offcanvas--mobile-menu {
            transform: translateX(100%);
            visibility: hidden;
            overflow: hidden;


            background: transparent;
            width: 80px;
            border: none;
            box-shadow: none;
            height: 400px;
            padding: 1rem;
            right: -10px;
            top: 45px;

            .btn[data-bs-toggle="offcanvas"]:nth-of-type(2) {
                transform: translateX(50px);
                transition-delay: 0.15s;
            }

            .btn[data-bs-toggle="offcanvas"]:nth-of-type(3) {
                transform: translateX(90px);
                transition-delay: 0.3s;
            }

            .btn[data-bs-toggle="offcanvas"]:nth-of-type(4) {
                transform: translateX(130px);
                transition-delay: 0.45s;
            }

            &.opened {
                visibility: visible;
                transform: none;

                .btn[data-bs-toggle="offcanvas"] {
                    transform: none;
                }

            }
        }
    }


    .header__right-buttons.d-md-flex>.btn {
        background: $textBlack !important;
        border-radius: 50% !important;
        margin-bottom: 0.75rem;
        width: 48px;
        height: 48px;
        padding: 0.5rem !important;
        box-shadow: 0 0 9px 2px rgb(0 0 0 / 21%);

        &>svg path {
            fill: $brown;
        }
    }
}

@media (min-width: 768px) {

    .btn-display-settings {
        overflow: hidden;
        border: none;
        -webkit-font-smoothing: subpixel-antialiased;
        position: relative;
        background: white;
        color: $textBlack;
        border-radius: 1000px;

        &:hover {
            color: $white90;
        }

        span.background,
        div.background {
            &::after {
                background: $searchDarkBg;
            }
        }

        svg,
        span,
        div {
            z-index: 1;
            position: relative;
        }

        svg {
            transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);

            path,
            rect {
                fill: $textBlack;
            }
        }

        &:hover {

            background: transparent;
        }


        span.background,
        div.background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            overflow: hidden;
            mask-image: radial-gradient(#fff, #000);
            -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
            border-radius: 1000px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -1px;
                left: -1px;
                width: 111%;
                height: 111%;
                background: $darkBrown;
                // opacity: 0.05;
                transform: scaleX(0);
                transform-origin: 100% 100%;
                transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                will-change: transform;
            }
        }

        &:hover {

            .background::after {
                transform-origin: 0 0;
                transform: scaleX(1);
            }

            svg path,
            svg rect {
                fill: white;
            }

            svg.arrow-right {
                transform: translateX(0.5rem);
            }
        }


        &:hover,
        &:focus,
        &:visited,
        &:active {
            box-shadow: none;
            border: none;
        }
    }

    .hero {
        display: flex;
        margin-top: 11px;
        height: 610px;
        max-height: 80vh;
        overflow: hidden;

        &__indicators {
            position: absolute;
            top: 1rem;
            right: 0;
            left: initial;

            [data-bs-target] {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-left: 5px;
                background: $headerBg;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);


                &.active {
                    width: 20px;
                    height: 20px;
                    background: $lightBrown2;
                }
            }
        }


        &__categories-container {
            max-height: 100%;
            height: 100%;

            .scrollbar-track-y {
                transforM: scaleY(0.95);
                border-radius: 1000px;
                right: 3px;
                width: 5px;
                background: rgba(196, 196, 196, 0.692);

                .scrollbar-thumb {
                    background: $textBlack;
                    width: 6px;
                }
            }
        }

        .carousel {
            flex-grow: 1;

            &-inner,
            &-item {
                height: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }


        }
    }

    .search {}
}

@media (min-width: 992px) {
    .header {
        &__container {
            height: 90px;
        }

        .btn-tooltip {
            position: relative;

            &:hover {

                &:before {
                    opacity: 1;
                }
            }

            &::before {
                content: attr(data-tooltip-text);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -3rem;
                background: $backgroundBlack;
                color: $lighterBrown;
                letter-spacing: 0.4px;
                font-size: $fontSizeXSS;
                padding: 0 1rem;
                height: 20px;
                line-height: 20px;
                z-index: 10000;
                border-radius: 4px;
                opacity: 0;
                transition: 0.4s;
                width: auto;
                text-align: center;
                height: 34px;
                display: flex;
                font-weight: 600;
                // transition-delay: attr(data-tooltip-delay);
                justify-content: center;
                align-items: center;
                white-space: nowrap;
            }
        }
    }

    .search {
        max-width: 460px;
        background: $brown2;
        border-radius: 1000px;


        &>div>*:not(.btn):not(.btn-tooltip) {
            background: initial;
            border-radius: initial;
            margin-bottom: initial;
            width: initial;
        }


        &__input {
            border-radius: 1000px 0 0 1000px;
            padding-right: 0;
            max-width: 300px;


        }

        .select-dropdown>.d-flex {
            height: 48px;
            border-left: 1px solid rgba(36, 37, 39, 0.3);
        }

        .select-dropdown__absolute {
            max-width: 124px;
            margin-right: 0;
            min-width: 120px;

            .scrollbar-track-y {
                opacity: 1;
            }
        }

        .select-dropdown {
            &__value {
                color: rgba(0, 0, 0, .5);

                &.font-darkBrown {
                    color: darken($color: $darkBrown, $amount: 20%);
                }
            }
        }


    }

    .hero {
        &__categories-container {
            background: url('../assets/rec-bg-3.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .autoComplete {
        width: initial;


        &_wrapper {
            &>input {
                width: 148px;
                padding-right: initial;
                border-left: 1px solid rgba(36, 37, 39, 0.3);
            }

            &>ul {
                width: 350px;
                max-width: calc(100vw - 2rem);
            }
        }
    }



    .list {
        overflow: initial !important;

        &__content {
            height: 171px;
            max-height: 171px;
        }

        &__item {
            border-radius: 0;
        }

        &__img {
            width: 100%;
            border-radius: 0;
            height: 250px;
            max-height: 250px;

            &-container {
                height: 250px;
                max-height: 250px;

                &::before {
                    left: 13px;
                    right: initial;
                    bottom: 13px;
                    font-size: $fontSizeH6;
                    background-size: 24px 24px;
                    padding-right: 30px;
                    height: 40px;
                }
            }
        }
    }

    .about {
        &__heading {
            font-size: $fontSizeH1;
        }

        &__img-container {
            &::before {
                max-width: 440px;
                height: 460px;
            }
        }
    }

    .newsletter {
        &__container {
            max-width: 1446px;
            padding-bottom: 74px;


            &::before {
                max-width: 312px;
                bottom: -100px;
                right: 40px;
            }
        }
    }

    .popular-categories {
        &__swiper-container {
            position: relative;

            .swiper-horizontal>.swiper-scrollbar {
                position: static;
                margin-top: 1.5rem;
                cursor: grab;
                height: 6px;
                background: rgba(196, 196, 196, 0.692);


            }

            .swiper-scrollbar-drag {
                background: $textBlack;
                height: 6px;
            }


            .swiper-button-next,
            .swiper-button-prev {


                color: white;
                background: hsl(0, 0%, 44%);
                border-radius: 50%;
                width: 36px;
                height: 36px;
                align-items: center;
                justify-content: center;
                display: flex !important;

                &::after {
                    font-size: 1rem;

                }

                &.swiper-button-disabled {
                    opacity: 1;
                    cursor: not-allowed;
                    background: hsl(0, 0%, 75%);
                }
            }

            .swiper-button-next {
                right: -18px;
            }


            .swiper-button-prev {
                left: -18px;
            }
        }

        &__item {
            position: relative;
            // width: 232px;
            // max-width: 232px;
            height: 253px;
            max-height: 253px;



            .btn {
                position: absolute;
                bottom: 24px;
                left: 50%;
                transform: translateX(-50%);
                width: 230px;
                max-width: 230px;
                overflow: hidden;

                span {

                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    text-overflow: ellipsis;
                    padding: 0.5rem 1rem;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: grab;
            height: 253px;
            max-height: 253px;
        }

    }

    .premium-advertisement {
        height: 100%;
    }

    .offcanvas {
        .search__input {
            &--alone {
                border-right: none;
                max-width: 100%;
                margin-right: 0;
                background: $brown2;
                padding-right: 27px;
            }
        }
    }
}


@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1470px;
    }

    .search {
        max-width: 550px;



        .select-dropdown__absolute {
            max-width: 130px;


        }



        .autoComplete_wrapper>input {
            background: transparent;
            height: 48px;
            width: 198px;
            border-radius: 0;
            padding-left: 49px;

            &:focus {
                background: white;

                &+.autoComplete_wrapper::after {
                    display: none;
                }
            }
        }



        .autoComplete_wrapper {

            &::after {
                content: '';
                width: 20px;
                height: 22px;
                background-image: url('../assets/location.svg');
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                position: absolute;
                left: 21px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .autoComplete_wrapper.characters-there {
            &>input {
                padding-left: 20px;
            }

            &::after {
                display: none;
            }
        }

    }

    .hero {
        .carousel-inner {
            padding-bottom: 0;

            .container-fluid {
                position: absolute;
                bottom: 66px;
                left: 53px;
            }

            .container-fluid>div {
                max-width: 520px;
            }
        }

        &__indicators {
            top: initial;
            bottom: 2.5rem;
            right: 3rem;
            left: initial;

            [data-bs-target] {
                width: 21px;
                height: 21px;


                &.active {
                    width: 21px;
                    height: 21px;
                }
            }
        }
    }

    .recommendations {
        overflow: hidden;

        &__swiper {
            &-container {
                max-width: 1283px;
                padding: 0 100px;
                position: relative;
                margin: auto;

                .swiper-button-next,
                .swiper-button-prev {
                    color: #C4C3C1;

                    &:hover {
                        color: $brown;

                    }
                }
            }


        }

        &__pagination.swiper-pagination {
            margin-top: 4rem;

            span {
                width: 21px;
                height: 21px;
            }
        }

        &__decoration,
        &__message-decoration {
            position: absolute;
        }

        &__decoration {
            left: -150px;
            bottom: -170px;
            transform: rotate(19deg);
            width: 372.58px;
            height: 385px;
            opacity: 20%;
        }

        &__message-decoration {
            right: -100px;
            bottom: -120px;

        }

    }

    .about {
        &__heading {
            font-size: 85px;
        }
    }

    .blog-section {
        background: rgba(233, 204, 167, 0.2); //$brown with 0.2 opacity

        &__swiper-container {
            max-width: 1470px;
            padding-left: 15px;
            padding-right: 15px;
            margin: auto;

            .swiper-wrapper {
                padding: initial;
                width: initial;
                cursor: grab;
            }
        }

        &__swiper {
            padding-right: 0 !important;
        }

        &__slide {
            width: 100%;
            max-width: initial;
        }

        &__heading {
            position: relative;

            &::before {
                right: 0;
                top: -14px;
                height: 84px;
                background: $lightBrown2;
                border-radius: 100px;
                width: 4px;
                position: absolute;
                content: '';
            }
        }
    }

    .footer {
        padding-bottom: 350px;
    }
}

.register-page {
    .form {
        &-control {
            border-radius: calc(10rem/16);
            height: 40px;
            line-height: 40px;
            font-size: $fontSizeXS;
            font-weight: 500;

            &:focus,
            &:hover {
                border: none;
                box-shadow: none;
            }
        }
    }

    .kv-meter {
        height: 40px;
    }

    .kv-scorebar-border {
        display: none;
    }

    .kv-verdict .label {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        border-radius: 10px;
        font-weight: 500;
    }
}